layout {
    tab name="Dev" {
        pane split_direction="vertical" {
            pane size="80%" command="nvim" {
                args "."
            }
            pane split_direction="horizontal" {
                pane command="sh" {
                    args "-c" "lsof -ti:8000 | xargs -r kill; exec cargo watch -c -x run"
                }
                // pane command="cargo" {
                //     args "watch" "-c" "-x" "run"
                // }
                pane
            }
        }
    }
    tab name="Copilot" {
        pane command="copilot"
    }
    tab name="Sqlit" {
        pane command="sqlit"
    }
    default_tab_template {
        tab-bar size=1
        children
        status-bar size=1
    }
    pane_template name="tab-bar" {
        borderless true
        plugin location="tab-bar"
    }
    pane_template name="status-bar" {
        borderless true
        plugin location="status-bar"
    }
}
